<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>gulp-scss-starter</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        @@include("../blocks/modules/header/header.html")

        @@include("../blocks/modules/slider/slider.html")
        <section class="about-section">
            <div class="container">
                <h3 class="m-title">• О компании •</h3>
                <div class="about-ct">
                    <div class="text">
                        <p>Общество Ограниченной Ответственности «Антостар» — строительная компания, созданная профессионалами.</p>
                        <p>Основное направление деятельности организации — строительство мостов, путепроводов, эстакад, конструкции различной сложности, в том числе и уникальных объектов.</p>
                        <div class="more-btn"><a href="#">More</a></div>
                    </div>
                    <div class="image">
                        <img src="../img/svg/Group%20180.svg" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="why-section">
            <div class="container">
                <h3 class="m-title">• ПОЧЕМУ ВЫБИРАЮТ НАС •</h3>
                <div class="items">
                    <div class="item">
                        <div class="img">
                            <img src="../img/svg/tag.svg" alt="">
                        </div>
                        <p>Гибкая политика ценообразования</p>
                    </div>
                    <div class="item">
                        <div class="img">
                            <img src="../img/svg/build.svg" alt="">
                        </div>
                        <p>Возможность собственного производства</p>
                    </div>
                    <div class="item">
                        <div class="img">
                            <img src="../img/svg/worker.svg" alt="">
                        </div>
                        <p>Наличие собственных сил и средств для успешной и качественной работы</p>
                    </div>
                    <div class="item">
                        <div class="img">
                            <img src="../img/svg/hand.svg" alt="">
                        </div>
                        <p>Стремление к расширению объемов и видов предоставляемых услуг</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="digs-section">
            <div class="container">
                <div class="items">
                    <div class="item">
                        <div class="counter">2008</div>
                        <p>год основания</p>
                    </div>
                    <div class="item">
                        <div class="counter">>150</div>
                        <p>человек работает в Антостар</p>
                    </div>
                    <div class="item">
                        <div class="counter">>130</div>
                        <p>Построено объектов</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="news-section">
            <div class="container">
                <h3 class="m-title">• новости •</h3>
                <div class="items">
                    <div class="item">
                        <div class="image">
                            <div class="img">
                                <a href="#"><img src="../img/news1.jpg" alt=""></a>
                            </div>
                            <div class="date">
                                05 февраля 2020
                            </div>
                        </div>
                        <div class="text">
                            <h4><a href="#">Строительство ЗСД,  IV и V очереди строительства</a></h4>
                            <p>21 января 2020 года подписан контракт на выполнение комплекса строительно-монтажных работ по объекту: «Строительство улично-дорожной сети с искусственными сооружениями и переустройством инженерных коммуникаций на участке от ул. Полбина до Курьяновского бульвара».</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <div class="img">
                                <a href="#"><img src="../img/news2.jpg" alt=""></a>
                            </div>
                            <div class="date">
                                05 февраля 2020
                            </div>
                        </div>
                        <div class="text">
                            <h4><a href="#">Поздравление  с Новым годом и Рождеством!</a></h4>
                            <p>Новый год – любимый праздник большинства детей и взрослых. Это время чудес, волшебства и, конечно, подарков.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <div class="img">
                                <a href="#"><img src="../img/news3.jpg" alt=""></a>
                            </div>
                            <div class="date">
                                05 февраля 2020
                            </div>
                        </div>
                        <div class="text">
                            <h4><a href="#">ЦКАД. Новости с площадки</a></h4>
                            <p>Антостар в рамках контракта с ООО “Концессионная строительная компания № 1” выполняет комплекс работ по возведению Центральной кольцевой автомобильной дороги Московской области, пусковой комплекс (этап строительства) №4.</p>
                        </div>
                    </div>
                </div>
                <div class="all-news"><a href="#">все новости</a></div>
            </div>
        </section>

        <section class="clients-section">
            <div class="container">
                <h3 class="m-title">• Наши клиенты •</h3>
                <div class="items">
                    <div class="item">
                        <img src="../img/client1.png" alt="">
                    </div>
                    <div class="item">
                        <img src="../img/client2.png" alt="">
                    </div>
                    <div class="item">
                        <img src="../img/client3.png" alt="">
                    </div>
                    <div class="item">
                        <img src="../img/client4.png" alt="">
                    </div>
                </div>
            </div>
        </section>

        @@include("../blocks/modules/footer/footer.html")
        <script src="js/main.js"></script>
        <script src="js/vendor.js"></script>
    </body>
</html>
